.footer{
    padding: 0 0 0 0; 
}
.footerimg{
    background: url(../assets/karta.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    padding: 38px 0 37px 360px;

}
.footertext{
    width: 426px;
    height: 480px;
    opacity: 1;
    padding: 55px;
    background-color: white;
}

.text1{
    display: flex;
    align-items: center;
    padding-top: 40px;

}
.text1 p{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 10px;
}
.text1 p span{
    color: #0391D3;

}
.text1 div{
    display: block;
}
.footertext button{
    padding: 16px 35px;
    border: none;
    border-radius: 25px;
    background-color: #0391D3;
    color: white;
    margin-top: 40px;
}
.downfoot{
    display: flex;
    justify-content: space-around;
    margin-top: -80px;
}
.downfoot1{
    display: flex;
}
.downfoot1 p{
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #A4A5A5;
}

@media (max-width: 768px) {
    .footerimg {
        padding: 40px 20px; 
        height: auto;
        display: flex;
        justify-content: center; 
        background-position: center;
    }

    .footertext {
        width: 90%; 
        height: auto;
        padding: 30px;
    }

    .downfoot {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        margin-top: 20px;
        gap: 20px;
    }

    .downfoot1 {
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 480px) {
    .footertext h1 {
        font-size: 24px;
        text-align: center;
    }

    .text1 {
        padding-top: 20px;
        font-size: 13px;
    }

    .footertext button {
        width: 100%; 
        margin-top: 30px;
    }

    .footerimg {
        background-size: cover; 
    }

    .downfoot1 p {
        font-size: 11px;
        padding: 0 10px;
    }
}