.car{
    box-shadow: 0px 10px 30px 0px #D4D4D4;
    width: 420px;
    height: 580px;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}
.car img{
    margin-top: 30px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.pilisos{
    width: 350px;
    height: 280px;
    border: 1px solid #EFEFEF;
    text-align: center;
    background-color: #EFEFEF;
    padding: 10px;

}
.dim{
    width: 350px;
    height: 280px;
    border: 1px solid #EFEFEF;
    text-align: center;
    padding: 10px;
}
.wr2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.dim h2{
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    margin-top: 22px;
    margin-bottom: 10px;
    
}
.car h2{
    font-size: 22px;
    font-weight: 400;
    margin-top: 50px;
}
.pilisos h2{
    margin-top: 22px;
    font-size: 22px;
    font-weight: 400;
}
.sec2{
    margin-bottom: 100px;
    text-align: center;
}
.sec2 h1{
    margin-top: 114px;
    margin-bottom: 100px;
    font-size: 36px;
    font-weight: 900;
    color: #2E2E2E;
}
.sec2textwr{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.sec2text h2{
    font-size: 26px;
    color: #5C5C5C;
    font-weight: 400;
    margin-bottom: 7px;
}
.sec2text h3{
    color: #A4A4A4;
    font-size: 22px;
    font-weight: 400;

}
.btn1{
    width: 185px;
    height: 50px;
    background-color: #0391D3;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 14px;
}